:root {  
    
    --pink:#fc5185;
    --green:#00b090;    
    --white: #FFFFFF;
    --light-blueish-white: #FAFAFA;
    --light-blueish-gray: #E6E6E6;
    --medium-blueish-gray: #C0C0C0;
    --dark-blueish-gray: #999999;
    --light-blueish-black: #888888;
    --dark-blueish-black: #444444;
    --blueish-black: #000000;


}

body {
    background-color: var(--light-blueish-gray);
    margin: 0;
    padding: 0;
}

select, select option, body, button, input {
    font-family: 'Nunito', sans-serif;
}

select, select option {
    font-size: 1.2rem;
    font-weight: 600;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.fijar {
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

.sombra {
    box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 9px 10px -10px rgba(0, 0, 0, 0.51);
    background-color: var(--white);
    padding: 4rem;
    border-radius: 1.2rem;
}

header {
    background-color: var(--dark-blueish-black);
}

header h1 {
    padding: 3rem 0;
    margin: 0;
    color: var(--white);
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.formulario {
    width: 95%;
    margin: 0 auto;
    padding: 10rem 0;
}
@media (max-width: 1024px) {
    .formulario {
        padding: 1rem 0;
        width: 100%;
    }
}
.formulario legend {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    display: block;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--pink);
}
.formulario .campo {
    display: grid;
    margin-bottom: 2rem;
}

.formulario label {
    color: var(--blueish-black);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 800;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    background-color: var(--light-blueish-white);
    border-radius: 1rem;
    padding: 1rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--blueish-black);
    width: 100%;
}
.formulario input[type="submit"] {
    background-color: var(--light-blueish-black);
    border: none;
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    color: var(--white);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.5rem;
    width: 100%;
    transition: background-color 300ms ease;
    border-radius: 1rem;
}
@media (min-width: 1024px) {
    .formulario input[type="submit"] {
        display: block;
        padding: 1rem 5rem;
    }
}
.formulario input[type="submit"]:hover {
    background-color: var(--green);
    cursor: pointer;
}

.formulario select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--white);
}

.alerta {
    padding: 2rem 5rem;
    max-width: 60rem;
    margin: 2rem auto 2rem auto;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
}
.alerta.error {
    background-color: var(--white);
    border-left: 5px solid var(--pink);
    color: var(--pink);
}

@media screen and (max-width:1024px){
    .alerta {
        padding: 0.5rem;
        width: 100%;
        text-align: start;
    }
}

.contenedor {
    width: 90%;
    max-width: 80rem;
    margin: 0 auto;
}
.contenedor-presupuesto {
    margin-top: -5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: translateY(5rem);
}
.dos-columnas {
    flex-direction: column;
}
.dos-columnas :first-child {
    margin-bottom: 4rem;
}
@media (min-width: 1024px) {
    .dos-columnas {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }
    .dos-columnas > div {
        width: 50%;
    }
    .dos-columnas :first-child {
        margin-bottom: 0;
    }
}
.formulario input[type="text"].nuevo-presupuesto, 
.formulario input[type="number"].nuevo-presupuesto {
    font-size: 1.5rem;
    text-align: center;
}

.contenedor-presupuesto svg {
    width: 25rem;
}

@media (max-width: 1024px) {
    .contenedor-presupuesto svg {
        width: 100%;
    }
    
}

.contenido-presupuesto {
    width: 100%;
}
.contenido-presupuesto p {
    font-weight: 400;
    color: var(--light-blueish-black);
    font-size: 1.5rem;
    text-align: center;
}
@media (min-width: 1024px) {
    .contenido-presupuesto p {
        text-align: left;
    }
    
}

.contenido-presupuesto p.negativo span {
    color: var(--pink);
}

.contenido-presupuesto p.positivo span {
    color: var(--green);
}
.contenido-presupuesto span {
    font-weight: 900;
    color: var(--blueish-black);
}
.reset-app {
    border: none;
    background-color: var(--light-blueish-gray);
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: var(--pink);
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 1rem;
    transition-property: background-color;
    transition-duration: 300ms;
    font-size: 1.2rem;
}
.reset-app:hover {
    background-color: var(--pink);
    color: var(--white);
    cursor: pointer;
}

main {
    padding-top: 10rem;
}

.filtros .campo {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.filtros label {
    font-size: 2rem;
    font-weight: 900;
    color: var(--green);
}
.filtros select {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--background-gray);
}

@media screen and (max-width:1024px) {
    .filtros .campo{
        flex-direction: column;
        text-align: center;
    }
}

.listado-gastos {
    margin-top: 5rem;
}
.listado-gastos h2 {
    color: var(--blueish-black);
    font-weight: 900;
}
.no-gastos {
    text-align: center;
    font-size: 1.5rem;
}

.gasto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.cantidad-gasto {
    font-size: 1.5rem;
    color: var(--blueish-black);
    font-weight: 900;
}

.contenido-gasto {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenido-gasto img {
    width: 7rem;
}

.descripcion-gasto p {
    margin: 0 0 0.3rem 0;
}
.descripcion-gasto p {
    margin-bottom: 0.8rem;
}
.descripcion-gasto .nombre-gasto:hover {
    cursor: pointer;
}
.descripcion-gasto .gasto-card {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--blueish-black);
}
.descripcion-gasto .gasto-card span {
    font-weight: 400;
    color: var(--light-blueish-black);
}

@media screen and (max-width:1024px) {
    .gasto {
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
    }

    .contenido-gasto {
        flex-direction: column;        
        margin-top: -1rem;
    }

    .descripcion-gasto {
        margin-bottom: -2rem;
    }
    
    .cantidad-gasto {
        margin-bottom: -1rem;
    }
}

.nuevo-gasto {
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}

.nuevo-gasto img {
    width: 3rem;
}
.nuevo-gasto img:hover {
    cursor: pointer;
}

.modal {
    position: absolute;
    background-color: rgb(0 0 0 / 0.9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.modal .cerrar-modal {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 2rem;
    height: 2rem;
}
.modal .cerrar-modal img {
    width: 100%;
}

.modal .formulario {
    max-width: 80rem;
    width: 40rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    opacity: 0;
}

@media screen and (max-width:1024px) {
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999; /* Ajusta según sea necesario */
    }
    
    .modal .cerrar-modal img {
        display: none;
    }

    .modal .formulario {
        width: 90%;
    }
}

.modal label {
    color: var(--white);
}
body .modal {
    overflow: hidden;
}

.modal .formulario.animar {
    position: relative;
    opacity: 1;
}

.modal .formulario.cerrar {
    opacity: 0;
}

.modal label {
    text-align: left;
}

.CircularProgressbar .CircularProgressbar-text {
    font-size: 0.4rem !important;
    font-weight: 700;
}

@media screen and (max-width:1024px){
    .CircularProgressbar .CircularProgressbar-text {
        font-size: 0.5rem !important;
    }

    .dos-columnas :first-child {
        margin-bottom: 1.8rem;
    }
}

/*** SWIPE LIST OVERRIDES **/
.swipe-action__leading {
    background-color: var(--green);
    color: var(--white);
    margin-bottom: 2rem;
    border-radius: 1.2rem;
    margin-right: 0.5rem;
}

.swipe-action__trailing {
    background-color: var(--pink);
    margin-bottom: 2rem;
    color: var(--white);
}

.swipeable-list .swipe-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: right;
    border-radius: 1.2rem;
    margin-left: 0.5rem;
}

